body{
    background-color: coral;
}
.header{
    background-color: rgb(255, 140, 0);
    display: flex;
    justify-content: space-between;
}
p,h2{
    text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: space-around;
}
